.profile__text {
   margin: 0;
   font-family: Inter, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 11px;
   line-height: 13px;
   color: #ffffff;
}

.profile__text:last-of-type {
   font-weight: 400;
}