.about {
   background-color: #202020;
   padding: 110px 70px;
   max-width: 1140px;
   margin: 0 auto;
}

@media screen and (max-width: 768px) {
   .about {
      padding: 90px 50px;
   }
}

@media screen and (max-width: 480px) {
   .about {
      padding: 70px 14px;
   }
}