.menu__text_active:hover {
   color: #ffffff;
   cursor: default;
   border-bottom: none;
   transform: none;
}

@media screen and (max-width: 768px) {

   .menu__text_active {
      border-bottom: 2px solid #ffffff;
   }

   .menu__text_active:hover {
      letter-spacing: normal;
      border-bottom: 2px solid #ffffff;
   }
}