.cinema__more {
   width: 320px;
   height: 36px;
   background-color: transparent;
   color: #ffffff;
   font-family: Inter, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   border: none;
   cursor: pointer;
   border: 1px solid #424242;
   border-radius: 7px;
}

@media screen and (max-width: 480px) {
   .cinema__more {
      width: 240px;
   }
}

.cinema__more_hidden {
   display: none;
}