.auth__placeholder {
   position: absolute;
   top: 17px;
   left: 7px;
   font-family: Inter, Helvetica, sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   color: #8b8b8b;
}