.header {
   height: 74px;
   padding: 0 70px;
   width: calc(100% - 140px);
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}

@media screen and (max-width: 768px) {
   .header {
      padding: 0 30px;
      width: calc(100% - 60px);
   }
}

@media screen and (max-width: 320px) {
   .header {
      padding: 0 14px;
      width: calc(100% - 28px);
   }
}